:root{
    --dark1-color: #20121B;
    --dark2-color: #170603;
    --med1-color: rgb(48, 45, 45);
    --med2-color: #A79049;
    --bright-color: #EBEAE8;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.aboutmeSection{
    margin: 10%;
    display: flex;
    justify-content: center;
}
.aboutmeSection h1{
    width: 25%;
}
.aboutmeSection p {
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
}
header{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    width: 100%;
    margin: 5%;
}
.workSection{
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
}
.workSection h1{
    width: 25%;
}
.workSection article {
    text-align: center;
    padding: 2%;
}
.firstImage {
    width: 100%;
    height: auto;
}
.contactSection{
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: left;
}
.contactSection h1{
    width: 25%;
}
.contactSection figure {
    margin: 5%;
}