:root{
   
}
/* sets the font for the entire page that is in the body */
body {
    font-family:'Times New Roman', Times, serif
}
/* sets font size for the nav bar */
nav{
    font-size: 1.5rem;
}
/* sets the flex, orientation and position of the nav */
nav ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; 
}
/* creates the borders for the nav, only used on the start and end items*/
.navBorders{
    border-right: 1px solid black;
}
/* positioning between list items in nav*/
nav ul li {
    padding-left: 2%;
    padding-right: 2%;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
/* sets flex, position and margin for about me section */
.aboutmeSection{
    margin-right: 5%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
}
/* sets postion and font size of "About me" */
.aboutmeSection h1{
    width: 25%;
    font-size: 1.5rem;
    margin-right: 10%;
    margin-top: 2%;
}
/* sets margin and font size for aboutme paragraph */
.aboutmeSection p {
    margin: 5%;
    font-size: 1.2rem;
}
/* sets header to flex, its postion and margin */
header{
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 5%;
}
/* sets font size for h1 in header */
header h1 {
    font-size: 2.25rem;
}
/* sets flex, position, size and border of work section */
.workSection{
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
}
/* settings for project titles */
.workSection h1{
    width: 25%;
    font-size: 1.5rem;
    margin-right: 10%;
    margin-top: 2%;

}
/* settings for project container */
.workSection article {
    text-align: center;
    margin: 5%;
}
/* settings for featured program image */
.firstImage {
    width: 100%;
    height: auto;
}
/* settings for cont project images */
.contImage{
    width: 30%;
    height: auto;
}
/* settings for first program title */
.firstTitle{
    font-size: 1.5rem;
    margin-bottom: 5%;
    font-style: italic;
}
/* settings for first program title */
.contTitle{
    font-size: 1.2rem;
}
/* settings for contact section */
.contactSection{
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: left;
    border-top: 2px solid black;
}
/* settings for contact labels */
.contactSection h1{
    width: 25%;
    font-size: 1.5rem;
    margin-top: 2%;
}
/* settings for contact info */
.contactSection figure {
    margin: 5%;
}